{% macro workers(data={}) -%}
<h1 class='wi'>{{ data.worker_size }} of {{ data.total_workers }} Workers Working</h1>
  <p class='intro'>The list below contains all workers which are currently running a job.</p>
  <table class='workers'>
    <tr>
      <th>&nbsp;</th>
      <th>Where</th>
      <th>Queue</th>
      <th>Processing</th>
    </tr>
{% if data.workers %}
{% for worker in data.workers %}
<tr>
        <td class='icon'><img src="/static/{{worker.state}}.png" alt="{{worker.state}}" title="{{state}}"></td>
        <td class='where'><a href="/workers/{{worker.w}}">{{worker.host}}:{{worker.pid}}</a></td>
        <td class='queues queue'>
          <a class="queue-tag" href="/queues/{{worker.queue}}">{{worker.queue}}</a>
        </td>
        <td class='process'>
            {% if worker.data %}
                <code>{{code}}</code>
                <small><a class="queue time" href="/working/{{worker.w}}">{{worker.runat}}</a></small>
              {% else %}
                <span class='waiting'>Waiting for a job...</span>
              {% endif %}
        </td>
      </tr>
{% endfor %}
{% else %}
    <tr>
      <td colspan="4" class='no-data'>Nothing is happening right now...</td>
    </tr>
{% endif %}
</table>
{%- endmacro %}

{% macro queues(data={}) -%}
<h1 class="wi">Queues</h1>
  <p class="intro">The list below contains all the registered queues with the number of jobs currently in the queue. Select a queue from above to view all jobs currently pending on the queue.</p>
  <table class="queues">
    <tr>
      <th>Name</th>
      <th>Jobs</th>
    </tr>
    {% for queue in data.queues %}
    <tr>
      <td class="queue"><a class="queue" href="/queues/{{ queue.queue }}">{{ queue.queue }}</a></td>
      <td class="size">{{ queue.size }}</td>
    </tr>
    {% endfor %}
    <tr class="failed">
      <td class="queue failed"><a class="queue" href="/failed/">failed</a></td>
      <td class="size">{{ data.fail_count }}</td>
    </tr>
  </table>
{%- endmacro %}
